.emacs.d/auto-save-list
auto-save-list/*
*.elc
*~
eshell/history
eshell/lastdir
recentf
tramp
bookmarks
semanticdb/
session.*
semanticdb
elpa/*
calc.el
*#
ido.last
anaconda-mode
image-dired
irony
projectile-bookmarks.eld
projectile.cache
flycheck_init.el
url
.cask
network-security.data
transient/
.cache/
.lsp-session*
